/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
  /* LAYOUT
  /*******************************************/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient( 109.6deg,  rgba(5,84,94,1) 16%, rgb(91, 147, 192) 91.1% );
}

#outerBox {
  padding: 3rem;
  width: 100%;
  max-width: 1000px;
}

#titleResult,
#whoWins {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  text-align: center;
}

#whoWins {
  font-size: 1rem;
}

#buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

button {
  font-size: 2rem;
  margin: 0 1rem;
  width: 100%;
  max-width: 10rem;
  height: 3.5rem;
  border-radius: 1rem;
  border: none;
  background: darkgoldenrod;
  color: white;
}

@media only screen and (max-width: 700px) {
  #buttons {
    flex-direction: column;
  }
  button {
    margin: 1rem 0;
  }
}

.roundWins {
  display: flex;
  align-items: center;
  justify-content: center;
}
.roundWins h2 {
  margin: 0 1rem;
}



/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
